.content {
	background: #1a1a1a;
	text-align: center;
}

.content .content-area img {
	height: 200px;
}

#app {
	padding: 0 5%;
}

.left {
	color: #595959;
	float: right;
}
.content .content-area {
	height: 1000px;
	background: url(_img/bg.jpg);
	overflow: hidden;
}
/*.content .content-area h1 {
	animation: type 3s steps(22);
	overflow: hidden;
	white-space: nowrap;
	font-family: consolas;
	border-right: 4px solid black;
	width: 22ch;
}


@keyframes type {
	0% {
		width: 0ch;
	}

	100% {
		width: 22ch;
	}
}*/

/*Informações*/
.info {
	width: 100%;
	background: #1a1a1a;
}

[data-color="white"] {
	color: #fff;
	text-align: center;
	font-weight: normal;
}

.info-contato {
	width: 100%;
	padding: 5% 3%;
}

.info-contato input, textarea {
	color: #fff;
	border: 2px solid #fff;
	border-radius: 10px;
	width: 90%;
	padding: 2%;
	outline: 0;
	font-weight: normal;
	background: #1a1a1a !important;
	margin-top: 5%;
	margin-left: 5%;
}

.info-contato input:focus, textarea:focus {
	color: #fff;
}

.info-contato p {
	margin-top: 3%;
	margin-left: 6%;
	color: #fff;
	font-weight: normal;
}

.info-sobre {
	width: 100%;
}
.info-sobre {
	padding: 0 5%;
}

.info-sobre p {
	color: #fff;
	text-indent: 10%;
	text-align: justify;
}

.info-localizacao {
	margin-top: 5%;
	width: 100%;
	padding: 0 4%;
}
.info-localizacao iframe{
	width: 100%;
	height: 400px;
	border: none;
	outline: none;
}